.App {
    display: flex;
    flex-direction:column;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    color: white;
    width: 100%;
    text-align: center;
}


.main-content {
    position: relative;
    display: flex;
    flex-direction:row;
}

.questions {
    width: 60%;
}

.column {
    display: flex;
    flex-direction: column;
}

.side-bar {
    width: 40%;
    border-left: 2px solid black;
}

.row {
    display: flex;
    flex-direction: row;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cheese {
    width: 60px;
    height: 60px;
    margin: 1.5% 0.8%;
    border: 2px solid;
    display: flex;
    justify-content:center;
    align-items: center;
}

.team-cheese {
    display: flex;
    flex-direction: row;
}

.cheese-column {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.member {
    margin-right: 2px;
}

.team {
    display: flex;
    flex-direction: row;

}
.team-title {
    margin-right: 5px;
}
.team-member-list {
    display: flex;
    flex-direction: row;

}
.team-members {

}
.team-cheeses {
    display: flex;
    flex-direction: column;
}